html,
body {
  margin: 20px auto 20px auto;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea;
  color: #4d4d4d;
  width: 600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

div .list-group {
  max-width: 600px;
}

div .list-group-item {
  max-width: 500px;
  margin-bottom: 2px;
  padding-top: 10px;
}

.row {
  margin-left: 0px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.form-inline .form-control {
  width: 390px;
  margin-right: 3px;
}

.list-group-item {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #ced4da;
  height: 40px;
}

.col-md-4 {
  padding-left: 3px;
}

.margin-r-4 {
  margin-right: 4px;
}

.ember-notify-default .ember-notify {
  padding: 15px;
}

.ember-notify-default .ember-notify .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.list-group-item span:first-child {
  width: 20px;
}

.list-group-item span:last-child {
  width: 90%;
}

.list-group-item span {
  display: inline-block;
  vertical-align: text-top;
}

.list-group-item:first-child {
  height: auto;
  word-break: break-all;
}

div .list-group-item {
  margin-bottom: 3px;
  padding-bottom: 7px;
}
